<footer>
    <div class="sticky-bottom">
        <div class="social">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="company">
            <p>© 2021 Company. All Rights Reserved.</p>
        </div>
        <div class="terms">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>