<nav class="navbar navbar-expand-md sticky-top ">
    <div class="container-fluid">
        <a href="/listings"class="navbar-brand">
            <img src="/assets/Logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="box">
              <div class="auth">
                <a class="nav-link" href="/listings">Home</a>
                <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
              </div>
              <div class="auth">
                <%if(!currUser){%>
                  <a class="nav-link "href="/login"><b>Login</b> </a>
                  <a class="nav-link" href="/signup"><b>Signup</b></a> 
                <% } %> <% if(currUser) { %>
                  <a class="nav-link" href="/logout"><b>Logout</b></a> 
                <% } %>
              </div>  
            </div> 
        </div>   
    </div>
</nav>