<nav class="navbar navbar-expand-md sticky-top ">
    <div class="container-fluid">
        <a href="/listings"class="navbar-brand">
            <img src="/assets/Logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="box">
              <div class="auth">
                <a class="nav-link active"href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add new Listing</a>
              </div>
              <div class="auth">
                <a class="nav-link "href="/login">Login </a>
                <a class="nav-link" href="/signup">Signup</a> 
              </div>  
            </div> 
        </div>   
    </div>
</nav>