<% layout('layouts/boilerplate.ejs')%>

<body>
    <%-include('../includes/navbar.ejs')%>
    <div class="msg" style="height: 76vh;">
        <h1>Sorry!</h1>
        <h2><%-message%></h2>
    </div>
    <%-include('../includes/footer.ejs')%>
</body>