<%layout('layouts/boilerplate.ejs')-%>

    <body>
            <div class="wrapper row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 mx-4 my-2">
                <%for(obj of Listings){%>
                    <a href="/listings/<%=obj.id%>/show" class="listing-links">
                        <div class="card1">
                            <img src="<%=obj.image%>">
                            <div class="card1-body">
                                <h5 class="card1-text">
                                    <%=obj.title%>
                                </h5>
                                <p>
                                    &#8377 <%=obj.price%>/night
                                </p>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
    </body>