body{
    /* height: 100vh; */
    background-color: #F7F7F7;
    /* padding: 20px 5%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container1{
    flex: 1;
}
.body{
    min-height: 78vh;
}
nav{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* padding: 0px; */
}
.container-fluid{
    color: #5E5E5E;
    background-color: #fff;
    padding: 10px 20px;
} 
.navbar .box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 30vw;  */
}
.auth .nav-link{
    /* color: #222; */
    font-size: 1.2rem;
    font-weight: 500;
    margin:0 10px;
}
.collapse .auth{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}
.btn-search{
    background-color: transparent;
    color: #fe424d ;
    border: 2px solid #fe424d;
    transition: all 0.3s ease;
    padding: 0 25px;
    border-radius: 25px;
}
.btn-search:hover{
    background-color: #fe424d;
    color: white;
}


/* footer */
footer{
    width: 100vw;
    background-color: #DDDDDD;
    padding: 10px 5vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.social a{
    margin: 0 10px;
    font-size: 1.2rem;
    color: #222;
}
.company p{
    margin: 0;
    color: #222;
    font-size: 1.2rem;
}
.terms a{
    color: #222;
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
}
footer a:hover{
    color: #5E5E5E;
}

.wrapper .card1{
    color: #222;
    /* width: 285px; */
    height: 370px;
    margin: 5px 0;
}
.listing-links{
    text-decoration: none;
}
.card1 img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-main{
    /* Stylye like airbnb button */
    background-color: #d33753;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.extra-info{
    color: #8c8a8a;
    font-size: .8rem;
    margin: 0;
}

/* Show Card */
.show-image{
    width: 100%;
    max-height: 450px;
    border-radius: 15px;
    object-fit: cover;
}
.mail{
    width:400px;
    padding: 0 15px;
    padding-left: 200px;
}
.mail .box{
    height: 10%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.edit-btn{
    padding: 8px 25px;
    border-radius: 10px;
    background-color: #d33753;
    color: #fff;
    border: none;
    width: 90%;
}
.edit-btn:hover{
    background-color: #ec4c69;
    color: white;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.delete-btn{
    background-color: #000;
}
.delete-btn:hover{
    background-color:#000 ;
}

/* Map & Marker */
#map{
    width: 100%;
    height: 500px;
}
#marker {
    background-image: url('../assets/maker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }

/* Error Page */
.msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* Filter */
.filter{
    height: 100%;
    width: 100px;
    color: #000;
    opacity: 0.5;
}
.filter i{
    font-size:2rem;
    /* font-weight: 400; */
}
.filter:hover{
    opacity: 0.8;
}
.btn-white{
    color: gray;
    border: none;
    background-color: white;
    padding: 0 30px;
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 10px rgb(179, 177, 177);
    display: none;
}
.show{
    overflow-y: scroll;
}
.mutliSelect ul{
    list-style: none;
    margin: 0;
    padding:0;

    /* margin-left: 20px; */

}
.mutliSelect ul li{
    height: 100px;
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;
    min-width:120px
}
.mutliSelect i{
    font-size:3rem;
}
.mutliSelect li label{
    display: flex;
    flex-direction: column;
}

.reverse-check{
    border: 2px solid gray;
    border-radius: 50px;
    /* width: 200px; */
    padding:20px;
    max-width: 220px;
    /* text-align: center; */
}
@media (max-width: 768px) {
    .collapse .auth{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left:0;
    }
    nav .collapse{
        margin-left:0;
    } 
    .show-image{
        height: 400px;
    }
}
@media (max-width: 1100px) {
    .displaye{
        display: none;
    }
}
@media (max-width: 500px) {
    .show-image{
        height: 300px;
    }
    .listing-links{
        width: 100%;
        padding: 0;
    }
    .delete-btn{
        min-width: 100px;
    }
    .alert{
        width: 60%;
        offset: 0;

    }
}
